<!-- Slideshow container -->
<div class="slideshow-container">
  <div class="mySlides fade1">
    <img src="../../../assets/images/carousel/pexels-fuzail-ahmad-2091074.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/carousel/pexels-keith-lobo-10902378.jpg">
  </div> 
   <div class="mySlides fade1">
    <img src="../../../assets/images/carousel/pexels-leo-arslan-8099547.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/carousel/pexels-rahul-1009898.jpg">
  </div> 
 
 </div>
<br>
