<div class="flex">
  <div class="carousel">
    <app-carousel-new></app-carousel-new>
  </div>
  
  
  <div class="form-control flexColumn">
    <div class="form-group">
      <h1 class="h1">Login</h1>
      <h3 class="h3">Welcome Back! Please login to your account</h3>
  
      <div class="username flexColumn">
        <label>
          <span>Username</span>
        </label>
        <input type="value" required />
      </div>
  
      <div class="password flexColumn">
        <label>
          <span>Password</span>
        </label>
        <input type="value" required />
      </div>
  
      <button mat-button class="logInButton">Continue</button>
    </div>
  </div>
  
</div>

