<section style="height: 100%">
  <div class="header flex space-between align-center">
    <div (click)="goToHome()">
      <img
        class="ml-2 pigeon-logo"
        src="../../../assets/images/logo/pigeon-baby-logo-11563295012v0yvjjuamk-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="flex">
      <app-social-media></app-social-media>
      <button (click)="goToLogin()" class="btn">Login</button>
      <button class="btn">Register</button>
    </div>
  </div>
</section>
