<div>
  <a href="#">
    <img src="../../../assets/images/social-media/icons8-whatsapp-48.png" alt="">
  </a> 
  <a href="#">
    <img src="../../../assets/images/social-media/icons8-youtube-48.png" alt="">
  </a>
  <a href="#">
    <img src="../../../assets/images/social-media/icons8-facebook-circled-48.png" alt="">
  </a>
  <a href="#">
    <img src="../../../assets/images/social-media/icons8-instagram-48.png" alt="">
  </a>
  <a href="#">
    <img src="../../../assets/images/social-media/icons8-twitter-circled-48.png" alt="">
  </a>
  
</div>
