<div class="footer flex flex-column">

  <div class="flex space-between">
    <div class="flex flex-column margin">
      <h2>Get started</h2>
      <span>Home</span>
      <span>Sign up</span>
    </div>
  
    <div class="flex flex-column margin">
      <h2>About us</h2>
      <span>Company Information</span>
      <span>Contact us</span>
    </div>
  
    <div class="flex flex-column margin">
      <h2>Support</h2>
      <span>FAQ</span>
      <span>Help desk</span>
    </div>
  
    <div class="flex flex-column margin">
      <h2>Legal</h2>
      <span>Terms of Service</span>
      <span>Privecy Policy</span>
    </div>
  
  </div>
  
  <div class="social-media">
    <app-social-media></app-social-media>
  </div>
  
</div>
